*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 20px;
  
}

#Header{
    position: relative;
    padding: 20px 0;
    background-color: green;
}

ul{
    list-style: none;
}



a{
    color: black;
    text-decoration: none;
}

a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 45px;
    background-color: black;
    transition: .5s;
}


li:hover a::before{
    width: 4%;
}

li{
    margin: 0 10px;
}

.header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list{
    display: flex;
}


a:nth-child(1){
    font-size: 20px;
   
}

a:nth-child(2){
    font-size: 20px;
}
a:nth-child(3){
    font-size: 20px;
}


.form-area{
    width: 50%;
    background-color: yellow;
    margin: 0 auto;
    padding: 20px 30px;
    position: relative;
}

.form-area-heading{
    text-align: center;
    margin-bottom: 20px;
}

.username-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.password-area{
    display: flex;
    flex-direction: column;
}

.label-username{
    position: absolute;
    top: 72px;
    left: 187px;
    transition: .3s;
}
.label-password{
    position: absolute;
    top: 119px;
    left: 188px;
}

.input-username{
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
    
}

.input-password{
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
}

.eye-icon{
    position: absolute;
    bottom: 26px;
    right: 181px
}