*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 20px;
  
}

#Header{

    padding: 20px 0;
    background-color: green;
}

ul{
    list-style: none;
    border: 1px solid gray;
}

a:nth-child(1){
    font-size: 20px;
    text-decoration: dotted;
}

a:nth-child(2){
    font-size: 20px;
}
a:nth-child(3){
    font-size: 20px;
}


a{
    color: black;
}


.header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list{
    display: flex;
}

a::before{
   content: "";
   position: absolute;
   top: 10px;
   width: 100%;
   height: 1px;
   background-color: brown;
}
